<%- include('../products/partials/header') %>
<%- include('../products/partials/flash') %>

<body>
    <div>
        <form action="/register" method="POST">
            <div>
                <label for="mail" class="form-label">Email: </label>
                <input type="text" class="form-control" name="email" id="mail" placeholder="Email" required>
            </div>
            <div>
                <label for="naam" class="form-label">UserName: </label>
                <input type="text" class="form-control" name="username" id="naam" placeholder="Username" required>
            </div>
            <div>
                <p>Want to Register As?</p>
                <div>
                    <label type="radio" for="buyer" name="">Buyer</label>
                    <input class="form-check-input" type="radio" name="role" id="buyer" value="buyer">
                </div>
                <div>
                    <label type="radio" for="seller" name="">Seller</label>
                    <input class="form-check-input" type="radio" name="role" id="seller" value="seller">
                </div>
            </div>
            <div>
                <label for="pass" class="form-label">Password: </label>
                <input type="text" class="form-control" name="password" id="pass" placeholder="Password" required>
            </div>

            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html>