<% if(success && success.length){ %>
    <br><br>
<div class="alert alert-success" role="alert">
    
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
  </div>
  <% } %>
  <% if(error && error.length){ %>
    <br><br>
<div class="alert alert-danger" role="alert">
    
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
  </div>
  <% } %>